* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background: #040924;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

main {
  max-width: 42.8rem;
  height: 44rem;

  background: #fff;

  display: flex;
  flex-direction: column;
  padding: 4.8rem 6.4rem 6.4rem;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #0c3440;
  font-size: 3.2rem;
  line-height: 4rem;

  margin-bottom: 3.2rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 30rem;
}

fieldset {
  border: none;
}

label {
  display: flex;
  margin-bottom: 0.8rem;
  color: hsla(170, 100%, 14%, 1);
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8rem;
}

input {
  display: flex;
  padding: 1.6rem;
  border-radius: 0.4rem;
  background: #dce2e9;
  border: 1px solid hsla(210, 9%, 31%, 0.5);
  outline: none;
  width: 100%;

  color: hsla(210, 11%, 15%, 1);
  font-family: Roboto;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
}

input:first-of-type {
  margin-bottom: 1.6rem;
}

input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;

  color: hsla(210, 9%, 31%, 0.5);
}

input:focus {
  border: 1px solid hsla(194, 97%, 31%, 1);
}

button {
  display: flex;
  padding: 1.6rem;
  justify-content: center;
  align-items: center;
  margin-top: 3.2rem;

  background: hsla(194, 97%, 31%, 1);
  border: none;
  border-radius: 0.4rem;

  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  color: #fff;

  cursor: pointer;

  transition: background .3s;
}

button:hover {
  background: #01475C;
}

#arrow {
  margin-left: 0.8rem;
  width: 1.6rem;
  height: 1.6rem;
}

.modal {
  display: grid;
  place-items: center;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
}

.content {
  padding: 4.8rem 6.4rem 6.4rem;
  border-radius: 0.6rem;
  background: #fff;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.1);

  position: relative;
}

.content h1 {
  margin: 0;
}

#closeButton {
  position: absolute;
  top: 16px;
  right: 16px;

  cursor: pointer;

  transition: transform 0.3s;
}

#closeButton:hover {
  transform: scale(1.1);
}

.modal.hide,
.screen-error.hide {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.screen-error {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.8rem 0 0.8rem;
  width: 100%;
  background: #f03e3e;

  position: absolute;
  top: 0;

  color: #fff;
  font-family: Roboto;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;

}
